/* reset default margins and paddings */
        body,html{
            margin: 0px;
            padding: 0px;
        }

    /* Background Image */
        body{
            background-image: url('mountain.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    

        *{
            box-sizing: border-box;
        }

    .head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

/* Header Styling */
    header {
        background-color: #282828;
        padding: 10px;                  /*around buttons*/
        margin: auto;
        font-size: 20px;
        color: white;
        font-family: Helvetica Neue, sans-serif;
        width: 100%;
    }

/* Buy now Button */
    #But1{
        font-size: 15px;
        color: white;
        background-color: #95de05e7;
        border: none;
        padding: 7px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 3px;
        cursor: pointer;
        text-align: center;
        float: right;
        margin-right: 10px;
    }

/* Style the navigation menu */
    #nav1 {
        flex-basis: 35%;            /* Full width */
        background-color: #2c3042; /* Dark grayish-blue */
        padding: 18px 0;        /* Top & bottom padding */
        text-align:right;     /* Center-aligns text */
        flex: 35%;
    }

    #nav2 {
        flex-basis: 65%;            
        background-color:white; 
        padding: 18px 0;       /* Top & bottom padding */
        text-align:left;     /* Center-aligns text */
        flex: 65%;
    }

/* style the list inside the menu */
    #nav2 ul{
        list-style-type:none;
        margin: 0;
        padding: 0;
    }

/* Style the list item */
    #nav2 ul li {
        display: inline;        /*Arrange items in a row*/
        margin: 10px 0px;         /*Space between items*/
        border-right: 1.55px solid rgba(0, 0, 0, 0.2);
        padding-right:20px;
        padding-left: 10px;
        /* border: 2px solid brown; */
    }

/* Style the links*/
    #nav2 ul li a{
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: bold;
        font-family: Arial, sans-serif;
        text-align: justify;
    }

/* Home button styling*/
    #Home {
        margin-left: 40px;
    }

/*container for nav */
    .nav {
        display: flex;
        flex-direction: row; 
        flex-direction: row; 
        justify-content:center;
    }

/*section Container for flexbox*/
    .container {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 1px;
    }

/* You can help button*/
    .help-button{
        background-color: rgb(2, 2, 90);
        padding: 10px 40px;
        margin-left: 20px;
        margin-bottom: 10px;

    }

    .help-button a {
        color: white !important;
        font-weight: bold;
        text-decoration: none;
        /* display: block; */
    }

    .help-button:hover {
        background-color: #2a2a75; 
    }


/* style the content of article for main heading */
    #he1 {
        color: white;
        width: 60%;
        text-align: left;
        margin-left: 9%;
    }

    #he1 h1 {
        font-size: 60px;
        margin-bottom: 20px;
    }

    #he1 p {
        font-size: 18px;
        line-height: 1.5;
    }

/* horizontal line */
    hr {
        opacity: 0.7;
        width: 100%;
        margin-left: 9%;
    }
 
/* style the content of article for main heading */
    #he2 {
        color: white;
        width: 60%;
        text-align: left;
        margin-left: 9%;
    }

    #he2 h2 {
        font-size: 60px;
        margin-bottom: 20px;
    }

    #he2 p {
        font-size: 18px;
        line-height: 1.5;
    }

/* Get Involved Button */
    .get_involved {
        display: inline;
        background-color: #089e5b;
        border-radius: 30px;
        padding: 15px;
        padding-left: 20px;
        width: 150px;
        margin-left: 9%;
        
    }

    .get_involved a {
        color: white !important;
        font-weight: bold;
        font-size: small;
        text-decoration: none;
    }

    .get_involved:hover {
        background-color: #37006b;
    }

/*Engage button*/
    .engage {
        display: inline;
        background-color: #37006b;
        border-radius: 25px;
        padding: 15px;
        padding-left: 15px;
        width: 150px;
    }

    .engage a {
        color: white !important;
        font-weight: bold;
        font-size: small;
        text-decoration: none;
    }

    .engage:hover{
        background-color: #330e7c;
    }
    
    #But2 {
        background-color: #1ba768;
            color: white;
            border: none;
            padding: 10px 15px;
            font-size: 16px;
            cursor: pointer;
            margin-top: 10px;
            shape-margin: 50%;
    }